.car{
    position: absolute;
    animation: Car 1s linear infinite;
    margin-top: 35%;
    left: 30%;
}

@keyframes Car {
 0%{
   transform: translateX(0) translateY(0);
 }
    50%{
        transform: translateX(15px) translateY(2px);
    }
    100%{
        transform: translateX(0) translateY(0);
    }
}


.car-body img{
    width: 600px;
    height:300px ;
    /*margin-left: 20%;*/
    /*margin-top: 20%;*/
}
.car-footer img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    animation: AAA 0.1s linear infinite;
}
.footer1{
    margin-left: 58px;
    margin-top: -155px;
}
.footer2{
    margin-left: 68.1%;
    margin-top: -130px;
}
@keyframes AAA {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }

}
.container{
    background-image: url("../image/trees.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@keyframes bgAnimation {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(50px);

    }
}