.myCard {
    height: 145px;
    /*background-color: #adc40c;*/
    border-radius: 4px;
    padding: 15px;
    box-shadow: 10px 8px 20px rgba(1, 102, 145, 0.1);
    transition: 0.4s;

}
.card p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px
}

.card-body img {
   width: 100%;
    height: 200px;
    box-shadow: 10px 8px 20px rgba(1, 102, 145, 0.1);
}

.card1 {
    height: 145px;
    /*background-color: white;*/
    border-radius: 4px;
    padding: 15px;
    /*box-shadow: 5px 4px 10px grey;*/
    transition: 0.4s;

}
.card:hover{
    transition: 0.4s;
    box-shadow: 5px 3px 10px grey;
    background-color:  #adc40c;
    color: white;
    /*square:#adc40c;*/

}
.card:hover > .square{
    transition: 0.4s;
    background-color: #adc40c ;
    /*color:#adc40c ;*/
}

/*.card1 square {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    !*background-color: white;*!*/
/*    position: absolute;*/
/*    transform: rotate(45deg);*/
/*    !*transform: rotateX(15deg);*!*/
/*    margin-top: 100px;*/
/*    margin-left: 15px;*/
/*}*/

.square {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    transform: rotate(45deg);
    /*transform: rotateX(15deg);*/
    margin-top: 125px;
    margin-left: 20px;


}


h6 {

    margin-left: 240px;
}

/*.card{*/
/*    width: 440px;*/
/*    height: 355px;*/
/*}*/
/*.card-part {*/
/*    display: flex;*/
/*}*/
/*.card-part div {*/
/*    width: 100%;*/
/*}*/
.imageCard img{
    width: 500px;
    height: 500px;
    position: absolute;
    /*right: 100px;*/
    z-index: -1;
    margin-left: 20px;
}
.col-md-6 card {
    width: 440px;
    height: 355px;
}
.card h1{
    color: #adc40c;
    position: absolute;
    width: 430px;
    height: 59px;
    left: 1230px;
    top: 896px;

    /*font-family: 'Gilroy';*/
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: right;
    text-transform: uppercase;
}
.card h3{
    /*position: absolute;*/
    width: 360px;
    height: 22px;
    /*left: 24px;*/
    /*top: 14px;*/

    /*font-family: 'Gilroy';*/
    /*font-style: normal;*/
    /*font-weight: 700;*/
    /*font-size: 18px;*/
    /*line-height: 26px;*/
    /*text-transform: uppercase;*/
}