.row1 h1{
    color: #ed3b09;
}
.Button1{
    width: 180px;
    height: 40px;
    background-color: #ed3b09;
    color: white;
    box-shadow: 10px 8px 20px rgb(144, 205, 238);

}
.Button1:hover{
    box-shadow: 20px 16px 40px rgb(144, 205, 238);
}
.row2{
    position: absolute;
    margin-top: -30px;
    margin-left: -40px;
}
.card1{
    background-color:#ed3b09 ;
    color: white;
    width: 350px;
    height: 350px;
    margin-left: 30px;

}
.square{
    width: 90px;
    background-color: white;
    border-radius: 50%;
    margin-left: 130px;
}
.card:hover{
    box-shadow: 20px 16px 40px #fa6d00 ;
}

.square{
    height: 90px;
}

.row2 img{
    width: 60px;
    margin-left: 13px;
    margin-top: 10px;
}
.card2{
    background-color:#fa6d00 ;
    color: white;
    width: 350px;
    height: 350px;
}
.card3{
    background-color:#fa994a ;
    color: white;
    width: 350px;
    height: 350px;
    margin-left: -30px;

}
.Button{
    width: 150px;
    height: 40px;
    background-color: white;
    color: black;
    margin-left: 100px;
    /*box-shadow: 10px 8px 20px rgb(144, 205, 238);*/
}
.Button:hover{
    box-shadow: 10px 10px 20px rgb(144, 205, 238);
}