.col-4{
    margin-top: 100px;
    margin-left: 300px;

}
/*.Big{*/
/*    box-shadow:0px 10px 2px grey;*/
/*}*/
.card-header{
    height: 300px;
    background-image: linear-gradient(to bottom, #0056b3, darkslateblue 80% );
}
.square{
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    margin-left: 100px;
    margin-top: 60px;
}
img{
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}


.small{
    position: absolute;
    margin-top: -50px;
    box-shadow: 1px 1px 1px 0px lightsteelblue;
}
input{
    width: 270px;
    height: 30px;
    border-left: none;
    border-right: none;
    border-top: none;



}
label{
    margin-left: 10px;
    height: 10px;
}

.card-body .myBtn{
    background-color: #0056b3;
    width: 250px;
    height: 40px;
    border-radius: 35px;
    color: white;
    position: absolute;
    margin-left: 25px;
    margin-top: -10px;
    box-shadow: 1px 1px 1px 0px lightsteelblue;
    /*margin-left: 50px;*/
    /*margin-top: 30px;*/


}