img{
    width: 600px;
    height: 600px;
    margin-left: 30%;
    margin-top: 10%;
}

.square1{
    width: 90px;
    height: 90px;
    background-color: white;
    position:absolute;
    margin-left: 540px;
    margin-top: -400px;
    border-radius: 50%;
    overflow: hidden;
}
.square2{
    width: 90px;
    height: 90px;
    background-color: white;
    position:absolute;
    margin-left: 700px;
    margin-top: -400px;
    border-radius: 50%;
    overflow: hidden;
}
.circle{
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 30px;
    margin-left: 15px;
    margin-top: 15px;
    animation:eyes 1s linear infinite ;
}
@keyframes eyes {
   from{
       transform: translateX(-10px);
   }
    to{
        transform: translateX(-10px);
    }
}
.square{
    animation:Eyes 2s linear infinite ;
}


@keyframes Eyes {
    0%{
        transform: rotateX(0deg);
    }
    /*50%{*/
    /*    height: 0;*/
    /*}*/
    100%{
        transform: rotateX(360deg);
    }
}