h1 {
    color:black;
     text-align: center;
}

.container{
    border-radius: 200px;
    color: #1c7430;
/*.text {*/
/*    color:blue;*/
/*    text-transform: capitalize;*/
/*    font-size: 40px;*/
/*    font-family: -apple-system sans-serif;*/
/*    text-decoration: line-through;*/
/*    text-align: right;*/

}
.row {
    display: flex;
    justify-content: space-evenly;
}
.card-body {
    border-style:solid;
    color: black;
    width: 200px;
    height: 350px;
    margin-top:10px;
    text-align: center;
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    /*padding-left: 50px;*/
    /*padding-right: 50px;*/
    /*padding: 50px 100px;*/
padding: 30px;
    box-shadow: 2px 0px 50px red;
}

h2{
    color: black;
}
h5{
    color: black;
}

button{
    width: 200px;
    height: 50px;
    /*border-radius: 50px;*/
    border-radius: 100px;
    text-transform: uppercase;
    background-color: black;
    color: white;
    font-weight: 800;
    letter-spacing: 4px;

}



i {
    font-size: 80px;
    color: black;


}
i:hover {
    color: black;
    cursor:pointer;
}