body{
    background-color: #0c5460;
    background-repeat: no-repeat;
    height: 100vh;
}

.div{
    margin-left: 450px;
    margin-top: 200px;
    width: 500px;
    background-color: #0c5460;
}
input{
    width: 350px;
    height: 50px;
    opacity: 0.3;
    color: white;
    border: none;
    border-radius: 10px;
}
.CHECKBOX{
   width: 25px;
    height: 25px;
    margin-left: 80px;
}
.Remember{
    color: white;
    margin-left: 5px;

}
.Forgot{
    color: white;
}
.myButton{
    width: 340px;
    height: 50px;
    border-radius: 10px;
    margin-left: 65px;
    margin-top: 30px;
    background-color: #34ce57;
    color: white;
}